// Import all SCSS partials
$flag-icons-path: '../node_modules/flag-icons/flags';
@import "../node_modules/flag-icons/sass/flag-icons";
@import "variables";
@import "global";
@import "header";
@import "sidebar";
@import "main-content";
@import "games";
@import "tools";
@import "community";
@import "views";
@import "footer";
@import "glass-effect";
@import "theme-manager";
@import "language-selector";
