// Import all SCSS partials
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "flags";
@import "variables";
@import "global";
@import "header";
@import "sidebar";
@import "main-content";
@import "games";
@import "tools";
@import "community";
@import "support";
@import "views";
@import "footer";
@import "glass-effect";
@import "theme-manager";
@import "language-selector";
