// Import all SCSS partials
@import "variables";
@import "global";
@import "header";
@import "sidebar";
@import "main-content";
@import "games";
@import "tools";
@import "views";
@import "footer";
@import "glass-effect";
@import "theme-manager";