.bg-dark {
  background-color: #252526 !important;
}

body {
  position: relative;
  background-color: #1e1e1e;
  color: white;
  font-family: sans-serif
}

.navbar {
    padding-top: 0.2rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
}

.navbar-toggler {
    display:block !important;
}

.navbar-bottom {
  padding: 0rem;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-bottom a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar-bottom a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar-bottom a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	/* Position the items */
	// &:nth-child(2) { top: 25%; }
	// &:nth-child(3) { top: 50%; }
	// &:nth-child(4) { top: 75%; }
}

.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 15px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.card {
  background-color: #3e3e42;
}

.card-img {
    object-fit: cover;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

.row-grid + .row-grid {
    margin-top: 15px;
}

.game-cover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hoverRateRemove {
  color: #C7423E;
}

.hoverRate {
  color: #AFE1AF;
}

.checked {
  color: #F4BB44;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu {
     max-height: 512px;
     overflow-y: auto;
 }

.dropdown-menu-dark {
    background-color: #222;
}

.dropdown-menu-dark a {
    color: white;
}

.dropdown-menu-dark p {
    color: white;
}

.form-control {
    color: white !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightGray;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightGray;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: lightGray;
}

label {
   cursor: pointer;
   /* Style as you please, it will become the visible UI component. */
}

#upload-file {
   opacity: 0;
   position: absolute;
   z-index: -1;
}