.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

.row-grid + .row-grid {
    margin-top: 15px;
}

.checked {
  color: orange;
}

.game-cover {
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 200px;
}